{% extends 'dashboard.html' %}

{% block content %}
<style>
  <style>
  .card-title,
  .card label {
    color: white;
  }

  .card input,
  .card textarea {
    background-color: #fcf6f6;
    color: black;
    border: 1px solid #555;
  }

  .card input::placeholder,
  .card textarea::placeholder {
    color: #0f0e0e;
  }
  
</style>

</style>

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Category</h4>

        <form method="POST" enctype="multipart/form-data" action="{% url "category" %}">
          {% csrf_token %}

          <div class="form-group">
            <label>Category Name</label>
            <input type="text" name="category_name" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Description</label>
            <textarea name="description" class="form-control" required></textarea>
          </div>

          <div class="form-group">
            <label>Category Image</label>
            <input type="file" name="category_image" class="form-control" required>
          </div>

          <button type="submit" class="btn btn-primary">Save</button>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
